/* For use in src/lib/core/theming/_palette.scss */
$md-blue: (
    50 : #e2f0f4,
    100 : #b7d8e3,
    200 : #88bfd1,
    300 : #58a5bf,
    400 : #3491b1,
    500 : #107ea3,
    600 : #0e769b,
    700 : #0c6b91,
    800 : #096188,
    900 : #054e77,
    A100 : #a6dbff,
    A200 : #73c6ff,
    A400 : #40b1ff,
    A700 : #26a7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

