<div class="register-container row">
  <div class="content">
    <img class="img-fluid" src="../../../assets/logo.svg" alt="">
    <h2>Esqueceu a sua senha? Não se preocupe!</h2>
    <h5>Digite o seu email de cadastro que lhe enviaremos um email de recuperação de senha.</h5>
    <form [formGroup]="form">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
        </div>
        <input formControlName="email" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
      </div>
    </form>
    <button [disabled]="!form.valid" (click)="resetPassword()" class="button">Resetar Senha</button>
  </div>
</div>